.flex {
    background: var(--theme-green-200);
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Image {
    object-fit: contain;
}

.overlay{
    background-color: var(--theme-black-50);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top: 93px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

}

.overlay .mobilelink, .navListFlex .link{
    text-decoration: none;
    color: var(--theme-green-800);
    font-weight: bold;
    font-size: 20px; 
}
  
.overlay .mobilelink:hover, .navListFlex .link:hover {
    color: var(--theme-gray-300);
}

.navListFlex {
    display: none;
}

.mobilelink {
    margin-left: auto;
    padding-top: 40px;
    width: 50%;
    background: var(--theme-white);
    z-index: 500;
    display: flex;
    flex-direction: column;
    height: 20%;
    align-items: center;  
}




@media (min-width: 50rem) {
    .flex {
        padding-inline: 80px;
    }

    .navListFlex {
        display: flex;
        gap: 2rem;
    }

    .menuIcon {
        display: none;
    }
    .mobilelink {
    width: 35%;
}
}