:root {
  --theme-white: #ffffff;
  --theme-black-50: #16161650;
  --theme-black-100: #55534e;
  --theme-black-800: #333843;
  --theme-black-900: #161616;
  --theme-gray-50: #f9f9fc;
  --theme-gray-100: #fbf9f1;
  --theme-gray-300: #858d9d;
  --theme-gray-350: #919090;
  --theme-green-100: #e7f4ee;
  --theme-green-200: #dcfce7;
  --theme-green-700: #e7f4ee;
  --theme-green-800: #19b360;
  --theme-green-900: #0d894f;
  --theme-yellow-200: #fff4dd;
  --theme-yellow-700: #f2e5ad;
  --theme-yellow-800: #ffae0e;
  --theme-yellow-900: #ffd71d;
  --theme-blue-800: #4079ed;
  --theme-blue-200: #9dbbf6;
  --theme-blue-900: #05004e;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
h1 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17.57px;
}
h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 17.57px;
}
h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17.57px;
}
a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17.57px;
}
